* {
  box-sizing: border-box;
}

*::after,
*::before {
  box-sizing: border-box;
}

Body {
  background: #333;
  align-items: center;
  justify-content: center;
  overflow: clip;
  width: 100%;
  height: 100vh;
  z-index: 1;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0.2);
}

@property --a {
  syntax: "<percentage>";
  inherits: false;
  initial-value: 0%;
}
@property --b {
  syntax: "<percentage>";
  inherits: false;
  initial-value: 0%;
}

.App {
  width: 100%;
  height: 100vh;
  background: radial-gradient(
    circle at 69%,
    #634667,
    #333 50%,
    #eee 75%,
    #333 75%
  );
  background: radial-gradient(
    circle at 69%,
    #634667,
    #333 var(--a),
    #eee var(--b),
    #333 var(--b)
  );
  position: relative;
  display: flex;
  flex-direction: column;
  text-align: center;
  z-index: 1;
  animation: gradientIntro 8s ease-out forwards;
}

@keyframes gradientIntro {
  0% {
    --a: 0%;
    --b: 0%;
  }
  100% {
    --a: 50%;
    --b: 75%;
  }
}

@media screen and (height: 400px) and (width: 400px) {
  Body {
    height: 400px;
    width: 400px;
  }
  .App {
    align-items: center;
  }
  .Drone {
    position: absolute;
    left: 18%;
    top: 8%;
  }
  .Whale {
    position: absolute;
    right: -2%;
  }
  .Footer button {
    margin-left: 100px;
    margin-right: 10px;
    margin-bottom: 0px;
  }
  .QuestionMark {
    left: 0;
  }
}

.Footer {
  position: absolute;
  bottom: 10px;
  opacity: 0;
  animation: footerIntro 4s 8s forwards;
}
.Footer button::before {
  z-index: -3 !important;
}

@keyframes footerIntro {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.Whale {
  z-index: -2 !important;
  transform-origin: 69% 40%;
  animation: whaleIntro 8s ease-in-out, whaleFloat 3s 1s alternate infinite;
}
@keyframes whaleIntro {
  0% {
    opacity: 0;
    scale: 0;
  }
  20% {
    opacity: 0;
    scale: 0;
  }
  100% {
    opacity: 1;
    scale: 1;
  }
}
@keyframes whaleFloat {
  0% {
    translate: 0 -5px;
  }
  100% {
    translate: 0 10px;
  }
}

button {
  cursor: pointer;
  margin: 5px;
  padding: 6px;
  padding-top: 2px;
  padding-bottom: 2px;
  border: 2px groove black;
  border-radius: 2px;
  box-shadow: 0px 0px 15px #c3a7bc;
  background: #634667;
  background: linear-gradient(
    0deg,
    rgba(99, 70, 103, 1) 0%,
    rgba(188, 131, 196, 1) 100%
  );
  font-family: Kolker Brush;
  font-size: 2em;
  color: bisque;
  text-shadow: 2px 2px 2px #2d262e;
  white-space: nowrap;
  user-select: none;
  animation: buttonGlow 2s ease-in-out alternate infinite;
  transition: all ease-out 0.25s;
}
button:active {
  background: #c3a7bc;
  background: linear-gradient(0deg, #c3a7bc 0%, #c3a7bc 100%);
  color: #2d262e;
  translate: 0 5px;
}
@media not (width: 400px) {
  button:focus {
    outline: none;
  }
}

.ButtonGroup1 {
  display: flex;
  flex-direction: column;
  margin-top: 3%;
  opacity: 0;
  animation: buttonIntro 4s 6s forwards;
}
.QuestionMark {
  display: none;
  position: absolute;
  border-radius: 50%;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: medium;
  bottom: 0;
  margin: 20px;
  z-index: 3;
  opacity: 0;
  animation: footerIntro 4s 8s forwards;
}

@keyframes buttonIntro {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes buttonGlow {
  0% {
    box-shadow: 0px 0px 25px #c3a7bc;
  }
  100% {
    box-shadow: 0px 0px 55px #c3a7bc;
  }
}

/* SOLVED: the footer buttons were "shakey" 
due to a combination of inner and outer glow and scale(1.1).
Only affecting the 400x400 itch version??
Solved by adding another border. */
.isPlaying {
  background: #c3a7bc;
  background: linear-gradient(
    0deg,
    rgb(150, 128, 145) 0%,
    rgb(190, 171, 195) 100%
  );
  border: 2px groove black;
  color: #e6d9c4;
  text-shadow: 2px 2px 2px #634667;
  transform: scale(1.1);
  animation: isPlayingGlow 1.5s ease-out alternate infinite;
}
@keyframes isPlayingGlow {
  0% {
    box-shadow: 0px 0px 15px inset #7f4670, 0px 0px 25px #c3a7bc;
  }
  100% {
    box-shadow: 0px 0px 15px inset #c3a7bc, 0px 0px 55px #c3a7bc;
  }
}

button::before {
  content: "";
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 0px;
  height: 0px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.3);
  animation: ripple 16s ease-in-out infinite;
  z-index: -1;
  pointer-events: none;
}

@media not (width: 400px) {
  button::before {
    display: none;
    animation: none;
  }
  .QuestionMark {
    right: 0;
  }
}

@keyframes ripple {
  0% {
    width: 0px;
    height: 0px;
    opacity: 0.15;
  }
  100% {
    width: 800px;
    height: 800px;
    opacity: 0;
  }
}
